html,body{
    margin: 0;
    padding: 0;
    background-image: url(../image/backgroundimc.jpg);
    
}

.title2{
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(40, 112, 114);
    text-shadow: 1px 1px 0px
}
.ptreino{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.colorfooter{
    color:rgb(40, 112, 114);
}
.form-container{
    max-width: 550px;
    padding:1rem;  
}
.calcimc{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(215, 222, 223);
    text-shadow: 1px 1px 0px
}
.formimc{
   height: 500px;
   width: 450px;
   border-radius: 9px 9px 9px 9px ; 
   background-color: rgb(58, 61, 60);

 
}

.teste {
    color:rgb(255, 255, 255);
    
}


.fter{
    position: relative;
    top: 120px;
    
 
}
h3{
    color:antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
.imgfood{
    border-radius: 8px 8px 8px 8px;
    border-color: black;
}
.imgfood2{
    border-radius: 8px 8px 8px 8px;
    border-color: black;
    
       
}
.h4color{
    color: rgb(55, 204, 154);
}
